@import "variables.scss";

body {
  display: flex;
  flex-direction: column;
  font: 300 16px/30px "Verdana", "Geneva", sans-serif;
  color: $main-color;
  background-color: $main-bg;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $main-color;
  text-decoration: none;
  transition: color 150ms ease;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  padding: 20px;
  font: 700 16px/1 "Verdana", "Geneva", sans-serif;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}

svg {
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-width: $tablet-width) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1150px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
  }
}
