$main-color: rgb(161, 161, 161);
$main-second-color: rgb(255, 255, 255);
$main-bg: rgb(0, 28, 46);
$link-hover-color: rgb(255, 255, 255);
$link-active-color: rgb(255, 255, 255);
$tablet-width: 768px;
$desktop-width: 1024px;
