.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 61.2em 112.5em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.svg-arrow:before {
      background-position: 0em 0em;
      width: 51.2171em;
      height: 51.2171em;
  }




  .icon.svg-cross:before {
      background-position: 0em -51.3em;
      width: 61.2em;
      height: 61.2em;
  }





