.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 4.9963em 23.2em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.svg-draw-tablet:before {
      background-position: 0em 0em;
      width: 4.606199999999999em;
      height: 4.606199999999999em;
  }




  .icon.svg-icon-facebook:before {
      background-position: 0em -4.7em;
      width: 4.92em;
      height: 4.92em;
  }




  .icon.svg-icon-instagram:before {
      background-position: 0em -9.7em;
      width: 4.911099999999999em;
      height: 4.911099999999999em;
  }




  .icon.svg-icon-menu-close:before {
      background-position: 0em -14.7em;
      width: 2.0514em;
      height: 2.0512em;
  }




  .icon.svg-icon-menu-open:before {
      background-position: 0em -16.8em;
      width: 1.9957999999999998em;
      height: 1.4em;
  }




  .icon.svg-icon-vk:before {
      background-position: 0em -18.2em;
      width: 4.9963em;
      height: 4.9963em;
  }





