/* stylelint-disable */
@import "../variables.scss";

#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}

#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}

.cboxPhoto {
  display: block;
  margin: auto;
  border: 0;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $main-second-color;
  border: 0;
}

#colorbox {
  outline: 0;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  filter: alpha(opacity = 90);
}

#cboxWrapper {
  max-width: none;
}

#cboxContent {
  position: relative;
  margin-top: 20px;
  background-color: #000000;
}

#cboxLoadedContent {
  overflow: auto;
  border: 5px solid #000000;
  background-color: $main-second-color;
}

#cboxTitle,
#cboxCurrent {
  position: absolute;
  top: -20px;
  left: 0;
  margin: 0;
  color: $main-color;
}

#cboxError {
  padding: 50px;
  border: 1px solid $main-color;
}

#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: #ffffff;
}

#cboxPrevious {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 28px;
  height: 28px;
  margin-top: -12px;
  padding: 10px 5px 10px 0;
  background: #000000 url(../img/arrow.svg) no-repeat 0 center;
  background-size: 28px;
  border-radius: 0 10px 10px 0;
  text-indent: -9999px;
}

#cboxNext {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 28px;
  height: 28px;
  margin-top: -12px;
  padding: 10px 0 10px 5px;
  background: #000000 url(../img/arrow.svg) no-repeat 0 center;
  background-size: 28px;
  border-radius: 0 10px 10px 0;
  text-indent: -9999px;
  transform: rotate(180deg);
}

#cboxClose {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  padding: 5px;
  background: #000000 url(../img/cross.svg) no-repeat center center;
  background-size: 22px;
  width: 28px;
  height: 28px;
  text-indent: -9999px;
}

#cboxPrevious:hover,
#cboxNext:hover,
#cboxClose:hover {
  background-color: lighten($main-bg, 25%);
}

