@import "../variables.scss";

.page-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($main-color, 0.9);
    z-index: 2;

    &--open {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    //
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    //
  }
}
